@font-face {
  font-family: 'Noway-Regular';
  font-weight: 300;
  src: url("../../assets/fonts/Noway-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'Noway-Medium';
  font-weight: 500;
  src: url("../../assets/fonts/Noway-Medium.otf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url("../../assets/fonts/Lato-Black.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  line-height: 1.6; }

.main-container {
  width: 300px;
  height: 420px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2em 5em rgba(0, 0, 0, 0.06); }
  @media only screen and (max-width: 600px) {
    .main-container {
      width: 100%;
      height: auto;
      margin: 0; } }

.header {
  position: relative;
  width: 100%;
  height: 130px;
  text-align: center; }
  .header .hero {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  .header .logo-container {
    position: absolute;
    top: 110px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #8b8888;
    background-image: url("../../assets/imgs/startup-logo.png");
    background-position: center;
    background-size: cover; }

.wrapper {
  width: 300px;
  height: 75px; }

.container-details {
  padding: 5px; }
  .container-details .container-details__items {
    display: inline;
    font-size: 0.650em;
    padding: 0 10px;
    color: #8b8888; }
  .container-details .items__divider--grey {
    color: #8b8888; }
  .container-details .container-details__title {
    margin: 10px 0 2px 10px;
    font-size: 1em;
    color: #13252f;
    font-family: 'Noway-Medium', sans-serif; }
    .container-details .container-details__title .toggle-progress {
      color: #7ac143;
      font-family: 'Lato', sans-serif;
      font-size: 0.650em;
      font-weight: 400;
      padding-left: 10px;
      text-decoration: none;
      cursor: pointer; }
  .container-details .container-details__sub-title {
    font-size: 0.650em;
    font-weight: 400;
    padding: 10px 0 15px 10px; }
  .container-details .progress-container--hide {
    display: none; }
    .container-details .progress-container--hide .progress-percentage {
      margin-left: 10px; }
    .container-details .progress-container--hide #progressbar {
      width: 90%;
      margin: 4px 10px;
      border-bottom: 1px solid #bdb5b5; }
    .container-details .progress-container--hide #progressbar > div {
      background-color: #243d42;
      width: 80%;
      height: 4px;
      margin-bottom: -1px; }
    .container-details .progress-container--hide .progress-details__item {
      display: inline-block;
      font-size: 0.650em;
      font-weight: 400;
      padding: 10px;
      color: #13252f; }
    .container-details .progress-container--hide .items__divider--dark {
      color: #13252f; }
  .container-details .custom__hr {
    width: 93%;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #bdb5b5; }
  .container-details .container-details__list {
    list-style-position: inside;
    padding-left: 15px;
    text-indent: -16px; }
    .container-details .container-details__list li {
      font-size: 0.5em;
      list-style-type: none;
      padding-left: 10px;
      color: #8b8888; }
      @media only screen and (max-width: 600px) {
        .container-details .container-details__list li {
          font-size: 0.650em; } }
    .container-details .container-details__list li:before {
      content: "\203A";
      font-size: 2em;
      padding-right: 10px; }
  .container-details a.button {
    width: 120px;
    height: 32px;
    text-align: center;
    font-size: 0.7em;
    border-radius: 5px;
    border: 1px solid #243d42;
    background: #243d42;
    color: #fff;
    display: block;
    outline-style: none;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 0;
    cursor: pointer;
    text-decoration: none; }
    @media only screen and (max-width: 600px) {
      .container-details a.button {
        margin-top: 20px 0 10px 10px; } }
  .container-details a.unfollow:hover,
  .container-details a.unfollow:active {
    background: #305d60; }

@font-face {
  font-family: 'Noway-Regular';
  font-weight: 300;
  src: url("../../assets/fonts/Noway-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'Noway-Medium';
  font-weight: 500;
  src: url("../../assets/fonts/Noway-Medium.otf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url("../../assets/fonts/Lato-Black.ttf") format("truetype"); }
